{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">{% trans 'Create' %}</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">{% trans 'Create' %}</button>
        </form>

        <a href="{% url 'app_gift_ideas_list' %}">{% trans 'Back' %}</a>

    </div>
    <!-- /.container-fluid -->
{% endblock %}