{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid d-flex justify-content-center">
        <!-- Page Heading -->
        <div class="col-xl-3 col-md-6 mb-4">
            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ object.title }}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                             src="/media/{{ object.photo }}" alt="">
                    </div>
                    <p>{{ object.description }}</p>
                    <footer class="blockquote-footer">{% trans 'Price : ' %}{{ object.prix }} €</footer>
                </div>
            </div>
            <div class="ml-1">
                <a href="{% url 'app_gift_ideas_list' %}"><i class="fas fa-undo-alt"></i> {% trans 'Back to my ideas' %}</a>
                <a href="{% url 'app_index' %}"><i class="fas fa-undo-alt"></i> {% trans 'Back to list' %}</a>
            </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}