{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid d-flex justify-content-center">
        <!-- Page Heading -->
        <div class="col-xl-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Note : </h6>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary btn-user">{% trans 'Create' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-1">
        <a href="{% url 'app_index' %}"><i class="fas fa-undo-alt"></i> {% trans 'Back' %}</a>
    </div>
    <!-- /.container-fluid -->
{% endblock %}