{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% trans 'Categories' %}</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Categoire (Birthday) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{% url 'app_gift_ideas_list_birthday' %}">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        {% trans 'Birthday' %}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-birthday-cake fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Categorie (Christmas) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{% url 'app_gift_ideas_list_christmas' %}">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        {% trans 'Christmas' %}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-sleigh fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Categoire (Women) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{% url 'app_gift_ideas_list_women' %}">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        {% trans 'Women' %}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-female fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Categoire (Men) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="{% url 'app_gift_ideas_list_men' %}">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        {% trans 'Men' %}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-male fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="container-fluid text-center">
                <h1 class="h3 mb-4 text-gray-800">{% trans 'Ideas' %}</h1>
                <div class="row justify-content-center">

                    {% for object in object_list %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <!-- Card Header -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <a href="{% url 'app_gift_ideas_detail' object.pk %}"><h2>{{ object.title }}</h2></a>
                                    </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="/media/{{ object.photo }}" alt="">
                                    </div>
                                    <p>{{ object.description }}</p>
                                </div>
                                <footer class="blockquote-footer">{{ object.person.user.username }}</footer>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        <a href="{% url 'app_gift_ideas_rate' object.pk %}">
                                            {% trans 'Rate the product' %} &rarr;
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}