{%  extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block body %}

    <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
    <p><a href="{% url 'app_gift_ideas_login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
