{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center">{% trans 'Profile' %}
            <a href="{% url 'app_gift_ideas_update_user' %}"><i class="fas fa-pencil-alt"></i></a>
        </h1>
        <img class="img-profile rounded-circle p-3" src="{{ request.user.person.avatar }}">
        <table class="table table-responsive-md table-striped">
            <tr>
                <th>{% trans 'Username' %}</th>
                <td>{{ request.user.username }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans 'Full Name' %}</th>
                <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans 'Email' %}</th>
                <td>{{ request.user.email }}</td>
                <td></td>
            </tr>
            <tr>
                <th>{% trans 'Password' %}</th>
                <td><a href="{% url 'app_gift_ideas_update_password' %}">{% trans 'Change password' %}</a></td>
                <td></td>
            </tr>
        </table>

    </div>
    <!-- /.container-fluid -->
{% endblock %}