{%  extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block body %}
    <body class="bg-gradient-primary">
      <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% trans "Create an Account!" %}</h1>
                  </div>
                  <form class="user" action="" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          {{ form.username }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="file" name="avatar">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          {{ form.first_name }}
                      </div>
                      <div class="col-sm-6">
                          {{ form.last_name }}
                      </div>
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          {{ form.password_1 }}
                      </div>
                      <div class="col-sm-6">
                          {{ form.password_2 }}
                      </div>
                    </div>
                      <button type="submit" class="btn btn-primary btn-user btn-block">{% trans 'Register Account' %}</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'app_gift_ideas_login' %}">{% trans 'Already have an account? Login!' %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript-->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Core plugin JavaScript-->
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

      <!-- Custom scripts for all pages-->
      <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    </body>
{% endblock %}