{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">{% trans 'Top ideas' %}</h1>
        <div class="row justify-content-center">

            {% for object in object_list %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Illustrations -->
                    <div class="card shadow mb-4">
                        <!-- Card Header -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ object.title }}</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                     src="/media/{{ object.photo }}" alt="">
                            </div>
                            <p>{{ object.description }}</p>
                        </div>
                        <footer class="blockquote-footer">{{ object.person.user.username }}</footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}