{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center">Profile</h1>
        <form action="" class="user" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.password_1 }}
            </div>
            <div class="form-group">
                {{ form.password_2 }}
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
        </form>
    </div>
    <!-- /.container-fluid -->
{% endblock %}