{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800 text-center">{% trans 'Profile' %}</h1>
        <form action="" class="user" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img class="img-profile rounded-circle p-3" src="{{ request.user.person.avatar }}">
            <input type="file" name="avatar">
            <table class="table table-responsive-md table-striped">
                <tr>
                    <th>{% trans 'Username' %}</th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <th>{% trans 'First Name' %}</th>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Last Name' %}</th>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Email' %}</th>
                    <td>{{ form.email }}</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-user btn-block">{% trans 'Update' %}</button>
        </form>
    </div>
    <!-- /.container-fluid -->
{% endblock %}